<!DOCTYPE html>
<html>
<head>
  <title> Senodia Technologies | 深迪半导体 | 新闻资讯</title>
  <meta name="description" content="新闻资讯">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<!--- Navbar --->

<header>
  <nav class="navbar navbar-expand-lg navbar-light" role="navigation">
    <a><%= image_tag "logos/senodia-logo-website.png", class: 'navbar-brand'%></a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle Navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      
      
    <div class="collapse navbar-collapse" id="navbarMenu">
      <ul class="navbar-nav ml-auto" style="margin-right: 5rem;">
        <li class="nav-item">
          <a><%= link_to t('home'), root_path, class: 'nav-link' %></a>
        </li>
        <li class="nav-item">
          <a><%= link_to t('pro'), products_index_path, class: 'nav-link' %></a>
        </li>
        <li class="nav-item">
          <a><%= link_to t('app'), applications_index_path, class: 'nav-link' %></a>
        </li>
        <li class="nav-item">
          <a><%= link_to t('tech'), technology_index_path, class: 'nav-link' %></a>
        </li>
        <li class="nav-item active">
          <a><%= link_to t('new'), news_index_path, class: 'nav-link' %></a>
        </li>
        <li class="nav-item">
          <a><%= link_to t('abt'), about_index_path, class: 'nav-link', style: "padding-right:5rem;" %></a>
        </li>
        <%= content_tag :li do %>
          <a class="lan"><%= link_to "EN", locale: :en %></a>
        <% end unless current_page?(locale: :en)%>
        
        <%= content_tag :li do %>
          <a class="lan"><%= link_to "中文", locale: :"zh-CH"%></a>
        <% end unless current_page?(locale: :"zh-CH")%>
      </ul>
    </div>
  </nav>    
</header>

  <!--- Image slider -->
<!-- <main> -->
<!--   <div class="container-fluid no-padding">
    <div class="site-content-landing">
      <div class="d-flex justify-content-left">
        <div class="d-flex flex-column">
          <h1 class="site-title">我们致力于生产高质量的MEMS设备</h1>
          <p class="site-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In dolorem, non eligendi. Neque, maiores blanditiis doloribus natus ab temporibus dolor provident, tempora adipisci harum libero magni suscipit, illum vitae sed.</p>
        </div>
      </div>
    </div>
  </div> -->
  <div style="width:100vw">
  <section>
  <div class="jumbotron jumbotron-fluid" style="background-color: rgba(227, 61, 50, 80%)!important; background-color:#E2001A; width: 100vw;">
    <div class="container">
        <h1 class="text-center" style="color: #FFF!important; text-transform: uppercase; font-size: 50px; font-weight: lighter;"><%= t('ln') %></h1>
      </div>  
  </div>
</section>



<p id="notice"><%= notice %></p>
<div class="section1" style="padding-bottom: 5rem;">
  <div class="container2">
    <div class="head1">
      <h1 style="color: #E2001A!important; text-transform: uppercase; font-size: 50px; font-weight: lighter;"></h1>
    </div>
    <div class="card-wrapper">
      <div class="blog-card">
        <%= image_tag "products/cc19.jpg", class: 'card-img'%>
        <% if I18n.locale == :en %>
        <h1 class="card-title">China Chip 2019</h1>
        <% else %>
        <h1 class="card-title">深迪半导体摘取2019“中国芯”</h1>
        <% end %>
        <a><%= link_to t('rm'), news_20191025_path, class: 'btn btn-primary' %></a>
      </div>
      <div class="blog-card">
        <%= image_tag "products/20191011.jpg", class: 'card-img'%>
        <h1 class="card-title">深迪半导体推出国内首款适用手机的六轴惯性传感器 成就惯性“中国芯”</h1>

        <a><%= link_to t('rm'), news_20191008_path, class: 'btn btn-primary' %></a>
      </div>
  </div>
</div>

<div class="container" style="display: flex;
    justify-content: flex-end; align-items: right; margin-bottom: 3rem; margin-top: 3rem;">
  <div class="row text-right">
  <div class="col-sm">
    <%= image_tag 'logos/nwi.png', style: "width:3rem;"%>
  </div>
   <div class="col-sm">
    <%= link_to image_tag('logos/nli.png', style: "width:3rem;"), "https://www.linkedin.com/company/senodia-technologies/", target: "_blank"%>
  </div>
</div>
</div>



  <!-- Two Column Product Section  x3 -->

</div>  
<div style="background-image: url(<%= asset_path('app/white.png')%>); background-position: center; background-size: cover; width: 100%; min-width: 100vw; height: 40vh;">
</div>
 

  <!-- Footer -->
<footer class="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col footer-info text-left" style="padding-top: 3rem; padding-bottom: 1.5rem; padding-left: 2rem;">
          <%= image_tag "logos/lightlogo.PNG", class: 'footerimg'%> 
        </div>
        <div class="col footer-contact text-left" style="padding-top: 3rem; padding-bottom: 2rem; padding-right: 1rem; padding-left: 3rem;">
          <p><%= t('add') %><br><%= t('email') %><br><%= t('tel') %><br><%= t('fax') %></p>
          <p>沪ICP备10005581号</p>
        
          <p><%= t('cp') %></p>
        </div>
      </div>
    </div>
  </div>
</footer>

<script
  defer
  src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"
  integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP"
  crossorigin="anonymous"></script>
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>