<p id="notice"><%= notice %></p>

<p>
  <strong>Part num:</strong>
  <%= @sensor.part_num %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @sensor.desc %>
</p>

<p>
  <strong>Desc cn:</strong>
  <%= @sensor.desc_cn %>
</p>

<p>
  <strong>Features:</strong>
  <%= @sensor.features %>
</p>

<p>
  <strong>Feature cn:</strong>
  <%= @sensor.feature_cn %>
</p>

<p>
  <strong>Ps:</strong>
  <%= @sensor.ps %>
</p>

<p>
  <strong>Ps cn:</strong>
  <%= @sensor.ps_cn %>
</p>

<p>
  <strong>Appl:</strong>
  <%= @sensor.appl %>
</p>

<p>
  <strong>Appl cn:</strong>
  <%= @sensor.appl_cn %>
</p>

<%= link_to 'Edit', edit_sensor_path(@sensor) %> |
<%= link_to 'Back', sensors_path %>
