<head>
	<title>深迪半导体 | Senodia Technologies | 关于我们</title>
	<meta name="description" content="成立于2008年8月，总部位于上海张江高科技园区">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="index.css">
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<!--- Navbar --->

<header>
  <nav class="navbar navbar-expand-lg navbar-light" role="navigation">
    <a><%= image_tag "logos/senodia-logo-website.png", class: 'navbar-brand'%></a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle Navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      
      
    <div class="collapse navbar-collapse" id="navbarMenu">
      <ul class="navbar-nav ml-auto" style="margin-right: 5rem;">
        <li class="nav-item">
          <a><%= link_to t('home'), root_path, class: 'nav-link' %></a>
        </li>
        <li class="nav-item">
          <a><%= link_to t('pro'), products_index_path, class: 'nav-link' %></a>
        </li>
        <li class="nav-item">
          <a><%= link_to t('app'), applications_index_path, class: 'nav-link' %></a>
        </li>
        <li class="nav-item">
          <a><%= link_to t('tech'), technology_index_path, class: 'nav-link' %></a>
        </li>
        <li class="nav-item">
          <a><%= link_to t('new'), news_index_path, class: 'nav-link' %></a>
        </li>
        <li class="nav-item active">
          <a><%= link_to t('abt'), about_index_path, class: 'nav-link', style: "margin-right:5rem;" %></a>
        </li>
        <%= content_tag :li do %>
          <a class="lan"><%= link_to "EN", locale: :en %></a>
        <% end unless current_page?(locale: :en)%>
        
        <%= content_tag :li do %>
          <a class="lan"><%= link_to "中文", locale: :"zh-CH"%></a>
        <% end unless current_page?(locale: :"zh-CH")%>
      </ul>
    </div>
  </nav>    
</header>

	<!--- Image slider -->
<!-- <main> -->

<% if I18n.locale == :en %>
<div style="width: 100vw;">
<div class="jumbotron jumbotron-fluid" style="background-color: rgba(227, 61, 50, 80%)!important; background-color: #E2001A; margin-top: 0;">
	<div class="container" style="width: 90vw;">
  		<h1 class="pgti1 text-center" style="color: #FFF!important; text-transform: uppercase; font-size: 50px; font-weight: lighter;">company introduction</h1>
  		<p class="pgp text-left"style="color: #fff; margin-top:1rem;">Founded in August 2008, headquartered in Zhangjiang High-Tech Park, Shanghai China, Senodia Technologies (Shanghai) Co., Ltd. is a leading MEMS chip supplier in China that specialized in motion sensors such as commercial grade MEMS gyroscope, industrial grade gyroscope, IMU, magnetometer and other types of MEMS sensors. As a fabless, Senodia has fully-owned intellectual property of our products. Senodia focuses on designing and manufacturing low cost, low power consumption, high performance and small-sized MEMS devices. Senodia also commits to providing customers with different kinds of combo solutions and outstanding services.<br><br>
      Senodia built the first large-scale MEMS gyroscope testing facility in China in order to meet the needs of fast-growing emerging consumer electronics market. Senodia also set up  complete sales channels and strong technical team to support, providing customers with advanced products, perfect solutions and long-lasting high-quality service.</p>
  </div>
</div>
<div class="container" style="margin-top: 2rem;">
  <div class="row">
    <div class="col-sm-6" style="padding:3rem;">
      <h2 class="pgti2" style="color: #E2001A!important; text-transform: uppercase; font-weight: lighter; padding-top: 0rem;">Shanghai Office</h2>
      <p class="pgp">Address：No.28, Lane555 Huanqiao Road (Lane  2388 Xiupu Road), Pudong New Area, Shanghai</p>
      <p class="pgp">E-mail: info@senodia.com</p>
      <p class="pgp">Telephone:  + 86 (0) 21-50276900</p>
      <p class="pgp">Sales：+86 13917230730</p>
      <p class="pgp">Fax: + 86 (0) 21-50276626</p>
      <!-- <div style=" height:20rem; border:#ccc solid 1px;" id="dituContent"></div> -->

    </div>
    <div class="col-sm-6" style="padding:3rem;">
      <h2 class="pgti2" style="color: #E2001A!important; text-transform: uppercase; font-weight: lighter; padding-top: 0rem;">Shenzhen office</h2>
      <p class="pgp">Address：Suite 2904, East Tower, QiuShi Buidling, Zizhu7th Road, Zhuzilin, Shenzhen
</p>
      <p class="pgp">E-mail: info@senodia.com</p>
      <p class="pgp">Telephone：+86 15921809454</p>
      
      <br>
      <!-- <div style=" height:20rem; border:#ccc solid 1px;" id="dituContent"></div> -->
    </div>
    <div class="col-sm-6" style="padding:3rem;">
      <h2 style="color: #E2001A!important; text-transform: uppercase; font-weight: lighter; padding-top: 0rem;">Danyang Test Factory</h2>
      <p class="pgp">Address：No. 1 Shitan South Road, Development Zone, Danyang, Zhenjiang, Jiangsu</p>
      <p class="pgp">E-mail: info@senodia.com</p>
      <p class="pgp">Telephone：+86 (0) 511-86056510</p>
      
      <br>
      <!-- <div style=" height:20rem; border:#ccc solid 1px;" id="dituContent"></div> -->
    </div>
  </div>
</div>

<% else %>
<div class="jumbotron jumbotron-fluid" style="background-color: rgba(227, 61, 50, 80%)!important; background-color: #E2001A; margin-top: 0;">
	<div class="container" style="width: 90vw;">
  		<h1 class="pgti1 text-center" style="color: #FFF!important; text-transform: uppercase; font-size: 50px; font-weight: lighter;">公司简介</h1>
  	<p class="pgp text-left"style="margin-top:1rem;color: #FFF!important;">深迪半导体（上海）有限公司是由美国海外留学人员创立的中国设计、生产商用MEMS陀螺仪系列惯性传感器的MEMS芯片公司，成立于2008年8月，总部位于上海张江高科技园区。公司研发了拥有完全自主知识产权的先进的MEMS工艺和集成技术，专注于为消费电子及汽车电子市场设计和生产低成本、高性价比、低功耗、小尺寸的商用MEMS陀螺仪芯片，并为客户提供各种全面的应用解决方案和极其优质的服务。<br><br>
      为满足快速增长的新兴消费类电子市场的需求，深迪在中国建立了一个大规模MEMS陀螺仪校验和测试基地。与此同时，深迪也铺设了完备的销售渠道并建立了强大的技术支持队伍，我们为客户提供的不仅仅是先进的产品，还有完善的解决方案和持续的优质服务。<br><br>
      </p>
  </div>
</div>
<!-- <div class="container">
  <div class="row" style="margin: auto;">
    <p class="text-left"style="margin-top:1rem;">深迪半导体（上海）有限公司是由美国海外留学人员创立的中国设计、生产商用MEMS陀螺仪系列惯性传感器的MEMS芯片公司，成立于2008年8月，总部位于上海张江高科技园区。公司研发了拥有完全自主知识产权的先进的MEMS工艺和集成技术，专注于为消费电子及汽车电子市场设计和生产低成本、高性价比、低功耗、小尺寸的商用MEMS陀螺仪芯片，并为客户提供各种全面的应用解决方案和极其优质的服务。<br><br>
      为满足快速增长的新兴消费类电子市场的需求，深迪在中国建立了一个大规模MEMS陀螺仪校验和测试基地。与此同时，深迪也铺设了完备的销售渠道并建立了强大的技术支持队伍，我们为客户提供的不仅仅是先进的产品，还有完善的解决方案和持续的优质服务。<br><br>
      </p>
  </div>
</div> -->
  	
  			
  	


<div class="container" style="margin-top: 2rem;">
	<div class="row">
		<div class="col-sm-6" style="padding:3rem;">
			<h2 class="pgti2" style="color: #E2001A!important; text-transform: uppercase; font-weight: lighter; padding-top: 0rem;">上海总公司</h2>
			<p class="pgp">地址：上海市浦东新区环桥路555弄28号（秀浦路2388弄）</p>
			<p class="pgp">邮箱: info@senodia.com</p>
			<p class="pgp">电话:  + 86 (0) 21-50276900</p>
      <p class="pgp">市场销售部电话：+86 13917230730</p>
			<p class="pgp">传真: + 86 (0) 21-50276626</p>
      <!-- <div style=" height:20rem; border:#ccc solid 1px;" id="dituContent"></div> -->
		</div>
		<div class="col-sm-6" style="padding:3rem;">
			<h2 class="pgti2" style="color: #E2001A!important; text-transform: uppercase; font-weight: lighter; padding-top: 0rem;">深圳办事处</h2>
			<p class="pgp">地址：深圳市竹子林紫竹七道求是大厦东座2703室</p>
			<p class="pgp">邮箱: info@senodia.com</p>
			<p class="pgp">电话：+ 86 13926521011
      </p>
      <br>
      <!-- <div style=" height:20rem; border:#ccc solid 1px;" id="dituContent"></div> -->
		</div>
    <div class="col-sm-6" style="padding:3rem;">
      <h2 class="pgti2" style="color: #E2001A!important; text-transform: uppercase; font-weight: lighter; padding-top: 0rem;">丹阳测试厂</h2>
      <p class="pgp">地址：江苏省镇江市丹阳市开发区石潭南路1号</p>
      <p class="pgp">邮箱: info@senodia.com</p>
      <p class="pgp">电话：+86 (0) 511-86056510</p>
      <br>
      <!-- <div style=" height:20rem; border:#ccc solid 1px;" id="dituContent"></div> -->
    </div>
	</div>
</div>
<% end %>

<div style="background-image: url(<%= asset_path('app/fab.png')%>); background-position: center; background-size: cover; width: 100%; min-width: 100vw; height: 400px; margin-bottom: 0; margin-top: 3rem;">
</div>
</body>