<!DOCTYPE html>
<html>
<head>
	<title> Senodia Technologies | 深迪半导体 | SZ030H</title>
	<meta name="description" content="SZ030H是一款Z轴角速度传感器，又称Z轴陀螺仪">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="index.css">
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<!--- Navbar --->

<header>
	<nav class="navbar navbar-expand-lg navbar-light" role="navigation">
		<a><%= image_tag "logos/senodia-logo-website.png", class: 'navbar-brand'%></a>
		
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle Navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
			
			
		<div class="collapse navbar-collapse" id="navbarMenu">
			<ul class="navbar-nav ml-auto" style="margin-right: 5rem;">
				<li class="nav-item">
					<a><%= link_to t('home'), root_path, class: 'nav-link' %></a>
				</li>
				<li class="nav-item active">
					<a><%= link_to t('pro'), products_index_path, class: 'nav-link' %></a>
				</li>
				<li class="nav-item">
					<a><%= link_to t('app'), news_index_path, class: 'nav-link' %></a>
				</li>
				<li class="nav-item">
					<a><%= link_to t('tech'), news_index_path, class: 'nav-link' %></a>
				</li>
				<li class="nav-item">
					<a><%= link_to t('new'), news_index_path, class: 'nav-link' %></a>
				</li>
				<li class="nav-item">
					<a><%= link_to t('abt'), news_index_path, class: 'nav-link', style: "padding-right:5rem;" %></a>
				</li>
			</ul>
		</div>
	</nav>		
</header>	

<div class="container">
	<div class="row justify-content-around align-items-center">
		<!-- <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 justify-content-around align-items-center" style="align-content: center;display: block; margin:0;"> -->
			<%= image_tag "products/SZ030H.png", style: "width: 15rem;display: block"%>
			<%= image_tag "products/SZ030Hb.png", style: "width: 15rem;display: block"%>
		<!-- </div> -->
		<div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
			<div class="info-box2" style="margin-bottom:5rem;margin-top: 3rem;">
				<div class="row" style="margin-bottom:1rem;">
					<div class="col">
						<h1 style="color:rgba(0,0,0,80%);font-weight:bold;font-size: 38px;">SZ030H</h1>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<% if I18n.locale == :en %>
						<h3 style="color:#E2001A!important;font-size: 20px;">Description</h3>
						<p style="font-size: 16px;">The SZ030H is an integrated Z‐Axis angular rate sensor (Gyroscope). A single QFN package contains a high performance silicon micro machined sensor with signal conditioning circuitry.<br>
						It provides excellent temperature stability and high resolution over the operating temperature range (‐20°C ~ 85°C).<br>
						It has ±1350 dps and ±300 dps full scale and is capable of detecting rates with ‐3dB bandwidth up to 140Hz.<br>
						The SZ030H delivers analog output signal proportional to angular rate perpendicular to the assembly surface. SZ030H includes low‐pass filters and EPROM for on‐chip factory calibration for the sensor. Factory trimmed scale factors eliminate the need for external active components and end‐user calibration.</p>
						<h3 style="color:#E2001A!important;font-size: 20px;">Package & Size</h3>
						<p style="font-size: 16px;">Package:（QFN）<br>
						Size：5×5×1.2 mm³</p>
						<% else %>
						<h3 style="color:#E2001A!important;font-size: 20px;">产品简介</h3>
						<p style="font-size: 16px;">SZ030H是一款Z轴角速度传感器，又称Z轴陀螺仪。它将高性能的硅微机械传感器和信号处理电路集成在单芯片封装中。它具有出色的温度稳定性，在-20℃ ~ 85℃的工作范围内能保持高分辨率。SZ030H内置温度传感器，提供与温度成正比的电压输出TEMP。SZ030H提供±1350 度/秒以及±300度/秒两种满量程供选择；通过不同的I2C命令，可以方便地读取两种满量程的角速度信号。它可处理信号-3dB带宽高达100Hz。SZ030H的输出电压与绕垂直于安装表面的轴旋转的角速度成正比。它带一个低通滤波器，还有用于调校的EPROM。本产品在出厂前已调校完毕，从而让客户端无须调整，且不需要外围有源器件。SZ030H采用方形扁平无引脚 (QFN)封装。</p>
						<h3 style="color:#E2001A!important;font-size: 20px;">封装形式和尺寸</h3>
						<p style="font-size: 16px;">封装：方形扁平无引脚封装（QFN）<br>
						尺寸：5×5×1.2 mm³</p>
						<% end %>
					</div>
					<div class="col">
						<% if I18n.locale == :en %>
							<h3 style="color:#E2001A!important;font-size: 20px;">Features</h3>
						<p style="font-size: 16px;">Analog/digital output（IIC）<br>
						Supply voltage：2.7~3.3 V<br>
						Range of measurememt<br>
						ZOUT: ±1350 dps<br>
						Z4.5OUT: ±300 dps<br>
						Low power：3.7 mA<br>
						Temperature：-20~85 ℃<br>
						Built-in 11 bit ADC</p>
						
						<h3 style="color:#E2001A!important;font-size: 20px;">Applications</h3>
						<p style="font-size: 16px;">Air mouse<br>
						Smart remote<br>
						Smart home</p>
						<% else %>
						<h3 style="color:#E2001A!important;font-size: 20px;">产品特性</h3>
						<p style="font-size: 16px;">模拟输出/数字输出（IIC）<br>
						供电电压：2.7~3.3 V<br>
						测量范围可调：<br>
						ZOUT: ±1350 dps<br>
						Z4.5OUT: ±300 dps<br>
						低功耗：3.7 mA<br>
						工作温度范围：-20~85 ℃<br>
						内置 11 bit ADC</p>
						<h3 style="color:#E2001A!important;font-size: 20px;">典型应用</h3>
						<p style="font-size: 16px;">空中鼠标<br>
						智能遥控器<br>
						智能家居</p>
						<% end %>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End of datasheet section -->
<!-- Img slider (applications) -->

<div style="background-image: url(<%= asset_path('app/mouse.jpg')%>); background-position: center; background-size: cover; width: 100%; min-width: 100vw; height: 50vh;">
</div>

<!-- Footer -->
<footer class="footer">
	<div class="footer-top">
		<div class="container">
			<div class="row">
				<div class="col footer-info text-left" style="padding-top: 3rem; padding-bottom: 2rem;">
					<%= image_tag "logos/lightlogo.PNG", class: 'footerimg'%> 
				</div>
				<div class="col footer-contact text-left" style="padding-top: 3rem; padding-bottom: 2rem;">
					<p><%= t('add') %><br><%= t('email') %><br><%= t('tel') %><br><%= t('fax') %></p>
					<p>沪ICP备10005581号</p>
				
					<p><%= t('cp') %></p>
				</div>
			</div>
		</div>
	</div>
</footer>


	<script
      defer
      src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"
      integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
