<footer class="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col footer-info text-left" style="padding-top: 3rem; padding-bottom: 1.5rem; padding-left: 2rem;">
          <%= image_tag "logos/lightlogo.PNG", class: 'footerimg'%> 
        </div>
        <div class="col footer-contact text-left" style="padding-top: 3rem; padding-bottom: 2rem; padding-right: 1rem; padding-left: 3rem;">
          <p><%= t('add') %><br><%= t('email') %><br><%= t('tel') %><br><%= t('fax') %></p>
          <p><%= link_to "沪ICP备10005581号", "http://www.beian.miit.gov.cn", target: "_blank", style:"color:#FFF;" %></p>
        
          <p><%= t('cp') %></p>
        </div>
      </div>
    </div>
  </div>
</footer>